div{
    display:flex;
    flex-direction: row;
    align-items: baseline;

    img{
        height: 20dvi;
        width: 20dvi;
    } 

    h1{
       white-space: nowrap;
       text-decoration: none;
       font-size: 10dvi;
    }
    
}