.head{
    text-decoration: none;
    display: flex;
    align-items: last baseline;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    
}

a:hover{
    filter: drop-shadow(0 0 10px darkRed);
    transition: all 1s;
}

h1{
    color: black;
    justify-content: space-between;
}